version: 2
jobs:
  mkdocs_build:
    docker:
      - image: circleci/python:3
    steps:
      - checkout
      - run: sudo pip install -r requirements.txt
      - run: mkdocs build

  mkdocs_deploy:
    docker:
      - image: circleci/python:3
    steps:
      - checkout
      - run: sudo pip install -r requirements.txt
      - run:
          name: mkdocs gh-deploy
          command: |
            git config --local user.name "Circle CI"
            git config --local user.email ci@mattbrictson.com
            cat README.md >> docs/index.md
            cp -R readme_images docs/
            mkdocs gh-deploy -m 'Deployed {sha} with mkdocs {version} [ci skip]'

  rubocop:
    docker:
      - image: circleci/ruby:2.6.3
    steps:
      - checkout
      - run: gem install bundler -v 2.0.2
      - run: bundle install --jobs=4 --retry=3
      - run: bundle exec rubocop

  test_unit:
    docker:
      - image: circleci/ruby:2.6.3
    steps:
      - checkout
      - run: gem install bundler -v 2.0.2
      - run: bundle install --jobs=4 --retry=3
      - run: bundle exec rake test:unit TESTOPTS="--ci-dir=./reports"
      - store_test_results:
          path: ./reports

  test_docker:
    docker:
      - image: circleci/ruby:2.6.3
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: docker build
          command: |
            mkdir -p .circleci/docker_certs
            cp $DOCKER_CERT_PATH/* .circleci/docker_certs/
            docker build -f .circleci/Dockerfile \
                         -t tomo:$CIRCLE_BUILD_NUM \
                         --build-arg DOCKER_HOST \
                         --build-arg DOCKER_MACHINE_NAME \
                         --build-arg DOCKER_TLS_VERIFY \
                         .
      - run:
          name: bundle exec rake test:docker (within docker container)
          command: |
            docker run --name tomo -it tomo:$CIRCLE_BUILD_NUM bundle exec rake test:docker

  test_e2e:
    docker:
      - image: circleci/ruby:2.6.3
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: docker build
          command: |
            mkdir -p .circleci/docker_certs
            cp $DOCKER_CERT_PATH/* .circleci/docker_certs/
            docker build -f .circleci/Dockerfile \
                         -t tomo:$CIRCLE_BUILD_NUM \
                         --build-arg DOCKER_HOST \
                         --build-arg DOCKER_MACHINE_NAME \
                         --build-arg DOCKER_TLS_VERIFY \
                         .
      - run:
          name: bundle exec rake test:e2e (within docker container)
          command: |
            docker run --name tomo -it tomo:$CIRCLE_BUILD_NUM bundle exec rake test:e2e

workflows:
  version: 2
  commit-workflow:
    jobs:
      - mkdocs_build:
          filters:
            branches:
              ignore:
                - master
      - mkdocs_deploy:
          filters:
            branches:
              only:
                - master
      - rubocop
      - test_unit
      - test_docker:
          requires:
            - rubocop
            - test_unit
      - test_e2e:
          requires:
            - test_docker
  cron-workflow:
    jobs:
      - mkdocs_build
      - rubocop
      - test_unit
      - test_docker:
          requires:
            - rubocop
            - test_unit
      - test_e2e:
          requires:
            - test_docker
    triggers:
      - schedule:
          cron: "0 13 * * 6"
          filters:
            branches:
              only:
                - master
