html,
body {
  background-color: #fff;
  margin: 20px;
}
pre {
  background-color: #333;
  border-top: 1px solid #666;
  border-bottom: 1px solid #000;
  border-radius: 6px;
  box-sizing: border-box;
  color: #eae7d9;
  font-family: "Menlo";
  font-size: 14px;
  margin: 20px 0;
  padding: 18px 20px 20px 20px;
  width: 882px;
  word-wrap: break-word;
}
.yellow {
  color: #ebdc70;
}
.green {
  color: #a3dd49;
}
.blue {
  color: #b4d9f4;
}
.red {
  color: #e65c4b;
}
.gray {
  color: #999;
}
